<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">TheCork</a>
        <a href="{{ url_for('main.update_booking') }}">Manage Bookings</a>
        <a href="{{ url_for('main.update_booking') }}">Update information</a>
        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>