{% extends 'base.html' %}

{% block content %}

    <div>
        <form method="GET" action="/">
            <label for="location-input">Location:</label>
            <input type="text" name="location" id="location-input">
            <button type="submit">Filter</button>
        </form>
    </div>
    
    <div class="content">
        {% for restaurant in restaurants %}
            <div class="restaurant">
                <p><b>{{ restaurant.id }}</b></p>
                <b>
            <p class="name">
                <a href="{{ url_for('main.show_restaurant', restaurant_id=restaurant.id)}}">
                    {{ restaurant.name }}
                </a>
            </p>
                </b>
                <p>{{ restaurant.category }}</p>
                <p>{{ restaurant.location }}</p>
                <p>Added: {{ restaurant.created_at }}</p>
                <div class="description">
                    <h4>Description</h4>
                    <p>{{ restaurant.description }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}